@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">Telefono:</abbr>
    425.555.0100
</address>

<address>
    <strong>Sopote:</strong>   <a href="mailto:soporte@ppcnova.com.co">soporte@ppcnova.com.co</a><br />
    <strong>Comercial:</strong> <a href="mailto:comercial@ppcnova.com.co">comercial@ppcnova.com.co</a>
</address>