@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RoKa</h1>
    <p class="lead">RoKa App, es una plataforma especializada en la administracion de los procesos operativos de las empresas de servicios publicos </p>
    <p><a href="http://ppcnova.com.co" target="_blank" class="btn btn-primary btn-lg">Leer Mas &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Modulo de Lectura</h2>
        <p>
            El modulo de lectura de nuestra aplicacin permite gestionar todo el ciclo de vida de la toma de lectura, iniciando por la carga 
            en las terminales portatiles, su captura en terreno y el posterior envio en linea, tambien se cuenta con mecanismo de contigencia 
            para garantizar disponibilidad y continuidad del negocio.
        </p>
        <p><a class="btn btn-default" href="http://ppcnova.com.co" target="_blank">Leer Mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Modulo de Critica</h2>
        <p>
            El modulo de critica cumple con los parametros establecidos por la normatividad y es totalmente parametrizable segun los requisitos
            de las compañias, el analisis de variacion de consumo (critica) esta presente tanto a nivel de la aplicacion movil como en la plataforma web
            
        </p>
        <p><a class="btn btn-default" href="http://ppcnova.com.co" target="_blank">Leer Mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Modulo de Ordenes</h2>
        <p>
        El modulo de ordenes de trabajo es un complemento que permite llevar la trazabilidad de las visitas domiciliarias realizadas por actividades
        derivadas del proceso de lectura y critica, permite consolidar la informacion historica de los suscriptores 
        </p>
        <p><a class="btn btn-default" href="http://ppcnova.com.co" target="_blank">Leer Mas &raquo;</a></p>
    </div>
</div>